@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #831843;
  --background: #fdf2f8;
  --primary: #ec4899;
  --primary-light: #fbcfe8;
  --primary-dark: #be185d;
}

body {
  color: var(--foreground);
  background-color: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
